*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

#navbar::before{
    content: "";
    background: url('bg.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: -9;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 477px;
    justify-content: center;
    align-items: center;
}

.home::before{
    content: "";
    background:url('bg1.jpg');
    position: absolute;
    height: 64%;
    width:100%;
    top:0px;
    left:0px;
    z-index: -1;
    opacity: 0.89;
}

.services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    border-radius: 20px;
    padding: 35px;
    margin: 20px 10px;
    background-color: #b3d6c9;
    margin-bottom: 40px;
}
#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif' , serif;
}
p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

h1{
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
}
.h-primary{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Bree Serif' , serif;
}
.h-primary1{
    color: white;
    font-size: 3rem;
    padding: 12px;
    font-family: 'Bree Serif' , serif;
}


.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Bree Serif' , serif;
}
.btn{
    font-size: 1rem;
    padding: 13px 16px;
    font-weight: 400;
    margin: 17px;
    color: cornsilk;
    background-color: crimson;
    border: 2px solid black;
    border-radius: 17px;
    cursor: pointer;
}
.center{
    text-align: center;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 50px;
}
#client-section{
    position: relative;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('bg.jpg');
    width: 100%;
    height: 67%;
    z-index: -1;
    opacity: 0.7;
}

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.9 ;
    background: url('contact.jpg') no-repeat center center/cover ;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-family: 'Bree Serif' , serif;
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid black;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}




